* {
  margin: 0;
  padding: 0;
}
.topbar {
  width: 1000px;
  margin: 0 auto;
}
#bars #top {
  background-color: #f7f7f7;
  font: normal normal bolder 14px/31px "SimSun";
}
#bars #top::after {
  content: "";
  display: block;
  clear: both;
}
#bars #top a {
  color: #666666;
  text-decoration: none;
}
#bars #top .collection {
  background: url(../../image/icon/images/star.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 19px;
  float: left;
}
#bars #top .rightarea {
  float: right;
}
#bars #top .rightarea a:nth-child(1) {
  border-right: 1px solid #666666;
  padding-right: 5px;
}
#bars #middle {
  height: 85px;
  background-color: #1d7ad9;
  overflow: hidden;
}
#bars #middle #logo {
  float: left;
  margin: 11px 0 auto 40px;
}
#bars #middle #search {
  float: left;
  margin-top: 23px;
  margin-left: 147px;
  height: 35px;
}
#bars #middle #search input {
  border: none;
}
#bars #middle #search input:first-child {
  height: 35px;
  width: 350px;
  padding-left: 5px;
  padding-right: 5px;
}
#bars #middle #search input:last-child {
  background-color: #ff8c00;
  color: white;
  height: 35px;
  width: 70px;
  font-family: '微软雅黑', sans-serif;
}
#bars #middle #shopText {
  float: right;
  background: #ff8c00;
  margin-top: 23px;
  height: 35px;
  padding-right: 12px;
}
#bars #middle #shopText div {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  color: white;
}
#bars #middle #shopText div:nth-child(1) {
  margin-left: 11px;
}
#bars #middle #shopText div:nth-child(1) span {
  margin-left: 7px;
}
#bars #middle #shopText div:nth-child(2) {
  margin-left: 26px;
}
#bars #middle #shopText div:nth-child(2) span {
  margin-right: 7px;
}
#bars #middle #shopText a {
  color: white;
  text-decoration: none;
}
#bars #bottom {
  background-color: #1369c0;
  height: 35px;
  text-align: center;
}
#bars #bottom a {
  text-decoration: none;
}
#bars #bottom .total {
  color: #fff;
  float: left;
  position: relative;
  width: 189px;
  line-height: 35px;
}
#bars #bottom .total:hover {
  background-color: #4593fd;
}
#bars #bottom .total ul.list {
  list-style-type: none;
  background-color: #4593fd;
}
#bars #bottom .total ul.list li {
  height: 35px;
  border-bottom: 1px solid #1369c0;
  border-top: 1px solid #3587f2;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 9px;
  margin-left: 1px;
  text-align: left;
}
#bars #bottom .total ul.list li a {
  color: white;
}
#bars #bottom .total ul.list li .item {
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}
#bars #bottom .total ul.list li .item .hlight {
  font-size: 12px;
  display: inline-block;
  margin-left: 11px;
  width: 60px;
  border-radius: 10px;
  background-color: #1369c0;
  text-align: center;
}
#bars #bottom .total ul.list li .cont {
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}
#bars #bottom .total ul.list li:hover {
  background-color: white;
}
#bars #bottom .total ul.list li:hover a {
  color: black;
}
#bars #bottom ul.navs {
  list-style: none;
  float: left;
}
#bars #bottom ul.navs li {
  width: 100px;
  display: inline-block;
  line-height: 35px;
}
#bars #bottom ul.navs li a {
  color: #fff;
}
#bars #bottom ul.navs li:hover {
  background-color: #4593fd;
}
#bars #bottom #second {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 100;
  position: absolute;
  background-color: white;
  top: 35px;
  left: 100%;
  width: 580px;
  text-align: left;
}
#bars #bottom #second ul {
  list-style: none;
}
#bars #bottom #second ul li {
  border-bottom: 1px solid gray;
  padding-top: 10px;
}
#bars #bottom #second ul li .title {
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  height: 24px;
}
#bars #bottom #second ul li .conts {
  display: inline-block;
  line-height: 24px;
  margin-left: 15px;
  width: 440px;
  vertical-align: top;
}
#bars #bottom #second ul a {
  color: gray;
  font-size: 12px;
  margin-left: 15px;
  line-height: 24px;
}
#auto {
  width: 100%;
}
#auto .pic {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
#auto .pic ul {
  list-style-type: none;
  position: absolute;
  left: 190px;
}
.show-items {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.show-items .item-bar {
  height: 75px;
  background: white;
  position: relative;
}
.show-items .item-bar div {
  display: inline-block;
}
.show-items .item-bar div.left {
  width: 189px;
  height: 100%;
  background: url(../../image/icon/images/title_03.jpg) no-repeat;
  background-position: left center;
  padding-left: 58px;
}
.show-items .item-bar div.left span {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  height: 100%;
  line-height: 75px;
}
.show-items .item-bar div.right {
  float: right;
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.show-items .item-bar div.right a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}
.show-items .item-cont {
  width: 1000px;
  margin: 0 auto;
  height: 400px;
}
.show-items .item-cont div.left {
  position: relative;
  margin-right: -4px;
  width: 169px;
  height: 100%;
  padding-left: 20px;
  background-color: lightblue;
  display: inline-block;
}
.show-items .item-cont .button {
  width: 85px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  position: absolute;
  bottom: 80px;
  background-color: white;
  font-size: 12px;
  vertical-align: top;
}
.show-items .item-cont i {
  width: 13px;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
  background: url(../../image/icon/images/go_03.jpg) no-repeat left center;
  vertical-align: top;
}
.show-items .item-cont .slides {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 15px;
}
.show-items .item-cont .slides .slide {
  width: 20px;
  height: 100%;
  background: white;
  margin-right: 5px;
  float: left;
}
.show-items .item-cont .slides .slide:hover {
  background: orange;
}
.show-items .item-cont .cont {
  display: inline-block;
  width: 810px;
}
.show-items .item-cont .cont .con-top ul {
  list-style: none;
}
.show-items .item-cont .cont .con-top ul li {
  width: 201px;
  float: left;
  padding-top: 46px;
  padding-bottom: 20px;
  border-right: 1px solid gray;
}
.show-items .item-cont .cont .con-top ul li .price {
  text-align: center;
  height: 40px;
}
.show-items .item-cont .cont .con-top ul li .price .xinghao {
  font-size: 16px;
}
.show-items .item-cont .cont .con-top ul li .price .jiage {
  font-size: 14px;
  color: orange;
}
.show-items .item-cont .cont .con-top ul::after {
  content: '';
  clear: both;
  display: block;
}
.show-items .item-cont .cont .con-bot {
  border-bottom: 3px solid orangered;
}
.show-items .item-cont .cont .con-bot ul {
  list-style: none;
}
.show-items .item-cont .cont .con-bot ul li {
  float: left;
  width: 202px;
}
.show-items .item-cont .cont .con-bot ul li div {
  float: left;
}
.show-items .item-cont .cont .con-bot ul li div.secpri {
  padding-top: 33px;
  width: 103px;
  font-size: 12px;
}
.show-items .item-cont .cont .con-bot ul li div.secpri p {
  color: orange;
}
.show-items .item-cont .cont .con-bot ul li div.secpri h5 {
  font-size: 16px;
  text-align: center;
}
.show-items .item-cont .cont .con-bot ul::after {
  content: '';
  clear: both;
  display: block;
}
footer {
  width: 100%;
  background-color: #d4d4d4;
  margin-bottom: 10px;
}
footer .foot_out {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
}
footer .foot_in {
  padding-top: 55px;
  text-align: center;
  font-size: 12px;
}
footer .contact {
  margin-bottom: 12px;
}
footer .contact a {
  border-right: 1px solid black;
  color: black;
  padding-left: 10px;
  text-decoration: none;
}
footer .contact a:last-child {
  border: none;
}
footer .beian {
  margin-bottom: 35px;
}
footer .beian div {
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
}
footer .foot_pic img {
  margin-right: 20px;
}
